/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background: #f8fafc;
  letter-spacing: -0.02em;
}

/* -- Page Structure --------------------------- */
.container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid blue; */
}

footer {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  
}

.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}

/* -- Text --------------------------- */
.fs45 {
  font-size: 2.81rem;
}
.fs32 {
  font-size: 2rem;
}
.fs28 {
  font-size: 1.59rem;
}
.fs24 {
  font-size: 1.5rem;
}
.font-script {
  font-family: Arial, Helvetica, cursive;
}

.home_topics p {
  font-size: 1.5rem;
}

.home_topics .mb1 {
  font-size: 2rem;
}

.home_topics .fs45 {
  font-size: 2.81rem;
}

.tc {
  text-align: center;
}
.normal {
  font-weight: normal;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}

/* -- Links --------------------------- */

a:link,
a:visited {
  color: var(--color-blue);
  transition: color 0.3s;
}

.color-text,
.color-text a:link,
a:link.color-text {
  color: var(--color-default) !important;
}

a:hover {
  color: var(--color-blue-hover);
}

.nolink {
  text-decoration: none;
}

/* -- Header and Navigation --------------------------- */
.head {
  background-color: #f8fafc;
  margin: -1rem;
  width: calc(100% + 2rem);
}

.head .container {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 2rem;
  /* background-color: antiquewhite; */
}

.head_nav .nav {
  list-style: none;
}

.head_logo a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-default);
}

.head_logo a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* border: 0.345rem; */
  border-radius: 50%;
}

.mr1 {
  margin-right: 1rem;
}

.head_nav {
  text-align: right;
  flex: 1;
  position: relative;
}

ul li {
  display: inline-block;
  margin: 0.5rem;
}

.head_nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-default);
}

nav.container {
  flex-direction: row;
  flex-wrap: nowrap;
}

/* -- Home ------------------------------------ */
.home_hero {
  display: flex;
  margin: 42px 0px;
  /* flex-wrap: wrap; 1 */
}

.home_intro {
  flex: 50%;
  padding: 0;
  margin: 0;
  padding-right: 1rem;
}

.home_checkout {
  /* border: 1px solid; */
  position: relative;
  display: block;
}

.home_topics {
  display: flex;
  justify-content: space-between;
}

.home_topic-block {
  /* border: 2px solid white;  */
  display: block;
  box-shadow: 0px 4px 10px grey;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.home_topics a {
  text-decoration: none;
  width: 30%;
  margin-top: 2rem;
}
